@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textAni {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cardAni {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  35%{
    opacity: 1;
    transform: translateX(0);
  }
  70%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(0);
  }
  
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}
.text-ani {
  animation: textAni 1s ease-out forwards;
}
.card-ani {
  animation: cardAni 1.5s ease-out forwards;
}
